.childTabsContainer {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 6px 26px 0px 0px;
}

.tabButtons {
  display: flex;
  gap: 20px;
  justify-content: center;
  background: #f6f6f6;
  width: 24%;
  border-radius: 6px;
}

.tabButton {
  background-color: transparent !important;
  color: #06615b !important;
  font-size: 14px;
  border: none !important;
  border-bottom: 2px solid transparent !important;
  border-radius: 0 !important;
  font-weight: 600;
  transition: all 0.3s ease;

  &:hover {
    color: #0aa5ec !important;
    // border-bottom: 2px solid #478a47 !important;
  }
}

.active {
  color: #0aa5ec !important;
  border-bottom: 2px solid #0aa5ec !important;
}

.contentContainer {
  margin-top: 0;
}

.tabContent {
  background-color: #f9fafb;
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
}
