$ThemePrimeryColor: #00a99d;
.quicklinksContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2%;
  padding-top: 20px;
  .quicklinksChild {
    width: 23%;
    padding: 14px 10px 14px 0;
    border-radius: 5px;
    background-color: #f1f3ff;
    color: #6a6a6a;
    margin-bottom: 16px;
    border-left: 3.5px solid #00a99d;

    .contentContainer {
      display: flex;
      justify-content: space-between;
      padding-left: 12px;
      span {
        font-size: 14px;
        font-weight: 600;
      }
      img {
        cursor: pointer;
      }
    }
  }
}
.refresh {
  background-color: #fff;
  color: $ThemePrimeryColor;
  border-radius: 6px;
  min-width: 40px;
  padding: 0;
}
.searchContainer {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  input {
    height: 36px;
    font-size: 14px;
    width: 200px;
  }
}
.btnAndText {
  cursor: pointer;

  .btnBackGround {
    background-color: $ThemePrimeryColor;
    min-width: 100px;
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 32px;
    color: #fff;
    padding: 2px 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;

    img {
      width: 20px;
      height: 20px;
    }
  }
}
.noRecords {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #888;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #888;
}
